body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
header{
    background: orange;
}
header ul{
    list-style: none;
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}
header ul li{
    display: inline;
    margin: 0 5%;
    font-size: 20px;
}
header ul li a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}


.container{
    Width: 90%;
    margin: 60px auto;
}
.flexible-section{
    display: flex;
}
.order-food-area, .attractive-image, .about-us{
    width: 50%;
    padding: 2%;
}
.order-food-area h1{
    font-size: 64;
    color: rgb(73, 72, 72);
    margin-top: 100px;
    line-height: 70px;
}
.congrat, .name{
    color: goldenrod;
}
.order-food-area p, .about-us p, .recipie-description{
    color:rgb(92, 85, 85);
    font-size: larger;
    margin-bottom: 100px;
}
.order-food-area a, .about-us a{
    color: white;
    font-weight: 800;
    text-decoration: none;
    background-image: linear-gradient(90deg, orange, rgb(255, 94, 0));
    border-radius: 50px;
    padding: 20px 50px;
}


.with-bg{
    background-image: url("images/shapes/Frame 57.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.attractive-image2{
    width: 50%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.attractive-image2 img{
    width: 60%;
    margin: auto;
}
.about-us{
    margin: 3% 0 0 15%;
}
.about{
    font-size: 48px;
    color: lightslategray;
}


.recipie-title{
    width: 50%;
    margin: auto;
    text-align: center;
}
.recipie-card{
    display: flex;
}
.equal-divs{
    width: 25.5%;
    min-height: 600px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 30px 5px rgba(122, 117, 117, 0.247);
    padding: 20px;
}
.equal-divs img{
    width: 100%;
}
.equal-divs h1{
    font-size: 36px;
    font-weight: 900;
}
.equal-divs p{
    font-size: 18px;
    line-height: 40px;
}
.equal-divs-2{
    width: 39%;
    margin-left: 30px;
    padding: 70px 0;
}
.social-midea{
    display: flex;
    box-shadow: 2px 2px 30px 5px rgba(122, 117, 117, 0.329);
    border-radius: 30px;
    width: 70%;
    padding-left: 15%;
    margin: auto;
    position: relative;
    transform: translate(0px, 80px);
}
.num{
    font-size: 48;
    font-weight: 900;
}
